.list--shows {
  list-style: none;
  width: 80rem;
  padding: 0;
}

.list--shows > .list__item {
  display: inline-block;
  margin: 0;
  width: 40rem;
}

.list--users {
  list-style: none;
  padding: 0;
}

.list__item--sm {
  padding: 0.5rem 0.5rem;
}