.single-card {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__card {
  width: 27%;
  height: 30rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.login__card > * {
  margin: 1rem 0;
}

.form--login {
  width: 70%;
}